<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
        <title>Servers - Dixionary Bot</title>
    </head>
    <body>
        <%- include ../partials/header %>
        <%- include ../partials/smallhero %>
        <section class="hero hero-body">
            <div class="container has-test-centered">
                <strong>Cuming Soon!!</strong>
            </div>
        </section>
        <%- include ../partials/footer %>
    </body>
</html>
