<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong><a href="/">Dixionary.com</a><strong> povered by Hitler and ISIS. JK NOT TRUE</strong>. Made by <a href="http://arturonet.com">TheOfficialDixionary</a>
                </strong></p><strong>
                <p>
                    <a class="icon" href="https://github.com/ArturoGuerra/DixionaryWebsite">
                        <i class="fa fa-github"></i>
                    </a>
                </p>
            </strong></div><strong>
        </strong></div><strong>
    </strong></footer>