<head>
    <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="2QfKSG5ZPM__yZMnpIm5IJY1x52uhrgyVfbKCbOh0Xk">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/static/assets/webicon.jpeg" size="10x10">
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/hero.css">
    <link rel="stylesheet" href="//css/custombulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <meta propery="og:title" content="Home Page - Dixionary">
    <meta propery="og:type" content="website">
    <meta propery="og:image" content="/static/assets/webicon.png">
    <meta propery="og:description" content="Home of the dixionary">
    <title>Home - Dixionary's Vebsite</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>