<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
        <title>500 Madarchod</title>
    </head>
    <body>
        <%- include ../partials/header %>
        <%- include ../partials/errorhero %>
        <%- include ../partials/footer %>
    </body>
</html>

