<!DOCTYPE html>
<head>
        {% block statichead %}
        <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="google-site-verification" content="2QfKSG5ZPM__yZMnpIm5IJY1x52uhrgyVfbKCbOh0Xk">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/static/assets/webicon.jpeg"  size="10x10">
        <link rel="stylesheet" href="/static/css/bulma.css">
        <link rel="stylesheet" href="/static/css/hero.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <meta propery="og:title" content="{% block ogtitle %}{% endblock %}">
        <meta propery="og:type" content="website">
        <meta propery="og:image" content="/static/assets/webicon.png">
        <meta propery="og:description" content="{% block ogdescription %}{% endblock %}">
        <title>{% block title %}{% endblock %} - Dixionary's Vebsite</title>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        {% endblock %}
</head>
<body>
    {% set navbar_items = [('/', 'home', 'Home'), ('/dixionary', 'dixionary', 'Dixionary'), ('/status', 'status', 'Status'), ('/bot', 'bot', 'Bot')] -%}
    {% set active_page = active_page|default('home') %}
    {% block navbar %}
    <header>
        <nav class="navbar has-shadow">
            <div class="navbar-brand">
                <span class="navbar-item">
                    <img src="{{ url_for('static', filename='assets/webicon.jpeg') }}" style="border-radius: 60%; display: block; height: auto; width: auto;">
                    <strong>&nbsp; Dixionary</strong>
                </span>
                <div class="navbar-burger burger" data-target="NavBarDesktop">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
            </div>
            <div class="navbar-menu is-hidden-touch">
                <div class="navbar-item navbar-end">
                    <div class="tabs">
                        <ul>
                            {% for href, id, caption in navbar_items %}
                            <li id="{{ id }}" class="{% if id == active_page %}is-active{% endif %}">
                                <a href="{{ href|e }}">
                                    <span>{{ caption }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                 </div>
            </div>
            <script src="{{ url_for('static', filename='scripts/burger.js') }}"></script>
        </nav>
    </header>
    {% endblock %}
    {% block hero %}
    <section class="hero is-info is-medium blue-gradient">
        <div class="hero-body">
            <div class="container has-text-centered">
                {% block herocontent %}
                {% endblock %}
            </div>
        </div>
    </section>
    {% endblock %}
    {% block body %}
    {% endblock %}
    {% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                <strong><a href="/">Dixionary.com</a><strong> povered by Hitler and ISIS. JK NOT TRUE</strong>. Made by <a href="http://arturonet.com">TheOfficialDixionary</a>
                </p>
                <p>
                <a class="icon" href="https://github.com/ArturoGuerra/DixionaryWebsite">
                    <i class="fa fa-github"></i>
                </a>
                </p>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>
