{% extends 'base.html' %}
{% set active_page = 'status' %}
{% block title %}Status{% endblock %}
{% block ogtitle %}Status page for dixionary apps{% endblock %}
{% block ogdescription %}Shows status for dixionary bot and dixionary api{% endblock %}
{% block herocontent %}
<h1 class="title">Dixionary Status</h1>
<h2 class="subtitle">GAwesome bot is alvays dovn</h2>
{% endblock %}
{% block body %}
<section clas="section">
    <div class="hero hero-body is-medium container has-text-centered">
        <h1 class="title">Cuming soon..</h1>
    </div>
</section>
{% endblock %}
